@import "main";

// sections
#web-design, #web-develop, #mobile-app{
	.blog-content{
		padding: 30px 0px;
		.article, .recent{
			background-color: $whiteColor;
			box-shadow: 5px 5px 8px $border-color;
			border-radius: 10px;
			border: 1px solid $border-color;
		}
		.recent{
			float: right;
			h3{
				padding: 10px 0px;
			}
			p{
				padding: 5px 0px;
				a{
					&:hover, &:focus{
						color: $mainColor;
					}
				}
			}
		}
		.article{
			float: left;
			.date{
				color: $mainColor;
				float: right;
				margin-top: 20px;
			}
			h1{
				font-weight: bold;
				padding: 10px 0px 10px 10px;
			}
			img{
				width: 100%;
				margin: 30px 0px;
			}
			p{
				padding: 10px 30px 10px 10px;
				color: $fontPrimaryColor;
			}
			button{
				margin: 20px 10px;
				color: $mainColor;
				&:hover, &:focus{
					color: $whiteColor
				}
			}
		}
	}
}
